/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.preifx			= File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    //
    // SHORTREAD_ASSEMBLY_SPADES
    //

    withName: SHORTREAD_ASSEMBLY_SPADES {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/shortread/${meta.id}" },
            mode: 'copy'
		]
    }

    //
    // LONGREAD_ASSEMBLY_FLYE
    //

    withName: LONGREAD_ASSEMBLY_FLYE {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/longread/${meta.id}" },
            mode: 'copy'
        ]
    }

    //
    // HYBRID_ASSSEMBLY
    //

    withName: MINIMAP2_ALIGN {
        ext.args = '-x sr -a '
        publishDir = [
            enabled:false    
        ]
    }

    withName: SAMTOOLS {
        ext.args = '--output-fmt BAM'
        publishDir = [
            enabled:false    
        ]
    }

    withName: FLYE {
        ext.args = ''
        publishDir = [ 
            path: { "${params.outdir}/hybrid/${meta.id}/flye" },
            mode: 'copy'
        ]
    }

    withName: PILON {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/hybrid/${meta.id}/pilon_corrected" },
            mode: 'copy'
        ]
    }
}
